Repository Alexmacapple/span-sg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexmacapple, @bertrand, @alex

.github/CODEOWNERS:

# CODEOWNERS - Code ownership pour reviews obligatoires
#
# Format: path/to/file @owner1 @owner2
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ===== DEFAULT OWNERS =====
# Alexandra est owner principal du projet
* @Alexmacapple

# ===== DOCUMENTATION =====
# Modules SPAN - validation requise par validateurs
/docs/modules/ @Alexmacapple @bertrand @alex

# Documentation technique et ADR
/docs/architecture/ @Alexmacapple @alex
/docs/adr/ @Alexmacapple @alex

# Documentation utilisateur
/docs/*.md @Alexmacapple @bertrand

# README et guides contributeurs
/README.md @Alexmacapple @bertrand @alex
/CONTRIBUTING.md @Alexmacapple @alex
/CLAUDE.md @Alexmacapple @alex

# ===== CONFIGURATION CI/CD =====
/.github/workflows/ @Alexmacapple @alex
/.github/scripts/ @Alexmacapple @alex

# Templates issues et PR
/.github/ISSUE_TEMPLATE/ @Alexmacapple
/.github/PULL_REQUEST_TEMPLATE/ @Alexmacapple

# ===== SCRIPTS ET HOOKS =====
# Scripts Python production (scoring, PDF)
/scripts/calculate_scores.py @Alexmacapple @alex
/scripts/enrich_pdf_metadata.py @Alexmacapple @alex

# Hooks pre-commit
/hooks/ @Alexmacapple @alex

# ===== TESTS =====
/tests/ @Alexmacapple @alex

# ===== CONFIGURATION PROJET =====
# MkDocs configuration
/mkdocs*.yml @Alexmacapple @alex

# Python dependencies et config
/requirements*.txt @Alexmacapple @alex
/pyproject.toml @Alexmacapple @alex
/.coveragerc* @Alexmacapple @alex

# Pre-commit hooks
/.pre-commit-config.yaml @Alexmacapple @alex

# Docker
/Dockerfile* @Alexmacapple @alex
/docker-compose*.yml @Alexmacapple @alex

# ===== CHANGELOG ET VERSIONING =====
/CHANGELOG.md @Alexmacapple @bertrand

perf(ci): optimiser workflow build -25% temps execution
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

feat(checklist): scores dynamiques et checkboxes interactives
  Claude.md
  docs/synthese.md
  mkdocs-dsfr.yml
  scripts/calculate_scores.py
Owners: @Alexmacapple, @bertrand, @alex

style(scripts): appliquer formatage Black sur calculate_scores.py
  scripts/calculate_scores.py
Owners: @Alexmacapple, @alex

test(sircom): cocher 10/33 critères pour démo scoring dynamique
  docs/modules/sircom.md
  docs/synthese.md
Owners: @Alexmacapple, @bertrand, @alex

refactor(scoring): retirer ligne Score global des modules
  docs/modules/sircom.md
  scripts/calculate_scores.py
Owners: @Alexmacapple, @bertrand, @alex

docs(sircom): appliquer modifications utilisateur post-refactor scoring
  docs/modules/sircom.md
Owners: @Alexmacapple, @bertrand, @alex

refactor(docs): remplace 'service' par 'direction' et améliore formatage listes
  GO-CHECKLIST.md
  docs/dev/dsfr-components-guide.md
  docs/guide-chef-snum-approvals.md
  docs/index.md
  docs/onboarding-visual.md
  docs/processus.md
  docs/synthese.md
  docs/telechargement-pdf.md
  mkdocs-dsfr.yml
  roadmap/archive/S2-07-enrichissement-modules.md
  scripts/calculate_scores.py
  scripts/calculate_scores_v1_31dinum.py
Owners: @Alexmacapple, @bertrand, @alex

docs(index): supprime références annexe 1 et ajuste formulation
  docs/index.md
Owners: @Alexmacapple, @bertrand

docs(index): améliore section recensement périmètre
  docs/index.md
Owners: @Alexmacapple, @bertrand

docs(index)+infra(docker): ajout liens DSFR + tentative fix hot-reload macOS
  Dockerfile-dsfr
  docker-compose-dsfr.yml
  docs/index.md
  scripts/mkdocs-serve-polling.py
Owners: @Alexmacapple, @alex, @bertrand

feat(navigation): restructuration complète de la navigation et amélioration RGAA
  docs/accueil.md
  docs/assets/custom.css
  docs/assets/extra.js
  docs/modules/bgs.md
  docs/modules/safi.md
  docs/modules/siep.md
  docs/modules/snum.md
  docs/modules/srh.md
  docs/processus.md
  docs/span-sg.md
  hooks/card_heading_level.py
  hooks/fix_sidemenu_ids.py
  hooks/pagination_title.py
  hooks/search_input_label.py
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @bertrand, @alex

fix: corrige formatage Python pour Black (guillemets doubles)
  scripts/mkdocs-serve-polling.py
Owners: @Alexmacapple

fix: corrige les erreurs Ruff dans mkdocs-serve-polling.py
  scripts/mkdocs-serve-polling.py
Owners: @Alexmacapple

fix: corrige les erreurs Python détectées par GitHub Actions
  hooks/fix_sidemenu_ids.py
  scripts/add-bmad-headers.py
  scripts/evaluate-bmad-final.py
Owners: @Alexmacapple, @alex

fix: corrige l'ordre des imports pour Ruff I001
  scripts/add-bmad-headers.py
Owners: @Alexmacapple

fix(mypy): corrige type return dans search_input_label.py
  hooks/search_input_label.py
Owners: @Alexmacapple, @alex

test: ajoute tests unitaires pour 4 hooks RGAA (100% coverage)
  tests/unit/hooks/test_hooks_card_heading_level.py
  tests/unit/hooks/test_hooks_fix_sidemenu_ids.py
  tests/unit/hooks/test_hooks_pagination_title.py
  tests/unit/hooks/test_hooks_search_input_label.py
Owners: @Alexmacapple, @alex

docs: corrige URLs environnement staging (/draft/ -> /staging/)
  README.md
Owners: @Alexmacapple, @bertrand, @alex

docs: ajoute analyse du formulaire FALC/LC de Com'access
  docs/references/falc-lc-calculator.js
  docs/references/regles-calcul-falc-lc.md
Owners: @Alexmacapple

docs: ajoute arbre de décision FALC vs Langage Clair
  docs/references/arbre-decision-falc-lc.md
Owners: @Alexmacapple

docs: ajoute visualisations et exports PDF de l'arbre FALC/LC
  docs/references/README-FALC-LC.md
  docs/references/arbre-decision-falc-lc.html
  docs/references/arbre-decision-falc-lc.mmd
  docs/references/infographie-falc-lc.svg
Owners: @Alexmacapple
