Repository Alexmacapple/span-sg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexmacapple, @bertrand, @alex

.github/CODEOWNERS:

# CODEOWNERS - Code ownership pour reviews obligatoires
#
# Format: path/to/file @owner1 @owner2
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ===== DEFAULT OWNERS =====
# Alexandra est owner principal du projet
* @Alexmacapple

# ===== DOCUMENTATION =====
# Modules SPAN - validation requise par validateurs
/docs/modules/ @Alexmacapple @bertrand @alex

# Documentation technique et ADR
/docs/architecture/ @Alexmacapple @alex
/docs/adr/ @Alexmacapple @alex

# Documentation utilisateur
/docs/*.md @Alexmacapple @bertrand

# README et guides contributeurs
/README.md @Alexmacapple @bertrand @alex
/CONTRIBUTING.md @Alexmacapple @alex
/CLAUDE.md @Alexmacapple @alex

# ===== CONFIGURATION CI/CD =====
/.github/workflows/ @Alexmacapple @alex
/.github/scripts/ @Alexmacapple @alex

# Templates issues et PR
/.github/ISSUE_TEMPLATE/ @Alexmacapple
/.github/PULL_REQUEST_TEMPLATE/ @Alexmacapple

# ===== SCRIPTS ET HOOKS =====
# Scripts Python production (scoring, PDF)
/scripts/calculate_scores.py @Alexmacapple @alex
/scripts/enrich_pdf_metadata.py @Alexmacapple @alex

# Hooks pre-commit
/hooks/ @Alexmacapple @alex

# ===== TESTS =====
/tests/ @Alexmacapple @alex

# ===== CONFIGURATION PROJET =====
# MkDocs configuration
/mkdocs*.yml @Alexmacapple @alex

# Python dependencies et config
/requirements*.txt @Alexmacapple @alex
/pyproject.toml @Alexmacapple @alex
/.coveragerc* @Alexmacapple @alex

# Pre-commit hooks
/.pre-commit-config.yaml @Alexmacapple @alex

# Docker
/Dockerfile* @Alexmacapple @alex
/docker-compose*.yml @Alexmacapple @alex

# ===== CHANGELOG ET VERSIONING =====
/CHANGELOG.md @Alexmacapple @bertrand

fix(deps): corriger version mkdocs-dsfr vers stable PyPI 0.9.3
  requirements-dsfr.txt
Owners: @Alexmacapple, @alex

fix(deps): restaurer mkdocs-dsfr 0.17.0 (version correcte PyPI)
  requirements-dsfr.txt
Owners: @Alexmacapple, @alex

fix(ci): inverser ordre builds PDF/HTML pour préserver DSFR
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

test: améliorer coverage 79%→94% + rendre E2E bloquants
  .github/workflows/build.yml
  tests/unit/scripts/test_enrich_pdf_extended.py
Owners: @Alexmacapple, @alex

fix(docker): installer bash pour tests E2E
  Dockerfile.mkdocs-test
Owners: @Alexmacapple, @alex

fix(ci): monter volume projet pour tests E2E Docker
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

docs(ci): documenter échecs E2E avec TODO (coverage 10/10 atteint)
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

fix(ci): déplacer benchmark avant tests E2E (conflits permissions)
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

feat(e2e): double validation native + Docker pour isomorphisme complet
  .github/workflows/build.yml
  Dockerfile.mkdocs-test
Owners: @Alexmacapple, @alex

fix(e2e): désactiver parallélisme pour éviter conflits git checkout
  tests/e2e/ci_runner.sh
Owners: @Alexmacapple, @alex

fix(ci): rebuild DSFR après benchmark pour préserver thème
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

fix(ci): déplacer rebuild DSFR après E2E pour préserver thème
  .github/workflows/build.yml
  tests/e2e/ci_runner.sh
  tests/e2e/test_dsfr_theme_preserved.sh
Owners: @Alexmacapple, @alex

fix(ci): exécuter test DSFR après rebuild final (hors E2E)
  .github/workflows/build.yml
  docs/synthese.md
  tests/e2e/ci_runner.sh
Owners: @Alexmacapple, @alex, @bertrand

fix(config): utiliser thème DSFR par défaut dans mkdocs.yml
  mkdocs.yml
Owners: @Alexmacapple, @alex

fix(ci): nettoyer site/ avant rebuild final pour résoudre permissions Docker
  .github/workflows/build.yml
Owners: @Alexmacapple, @alex

docs(contributing): documenter processus release automatisé
  CONTRIBUTING.md
Owners: @Alexmacapple, @alex

docs(adr): ajouter ADR-010 gestion dépendances sans lockfile
  docs/adr/010-gestion-dependances-sans-lockfile.md
  docs/adr/README.md
Owners: @Alexmacapple, @alex

security: renforcer sécurité 8/10 → 9.5/10
  .pre-commit-config.yaml
  CONTRIBUTING.md
  SECURITY.md
Owners: @Alexmacapple, @alex

docs(readme): refactoriser README professionnel et concis
  README.md
Owners: @Alexmacapple, @bertrand, @alex

refactor(structure): nettoyer documentation/ et organiser archives
  docs/archives/README.md
  docs/archives/travaux/DU-RAN-preparer-budget-accessibilite.md
  docs/archives/travaux/realiser-bilan-plans-actions-SPAN.md
  docs/dev/mkdocs-dsfr-reference.md
  docs/references/SPAN-checklist-v2024-02-05-AAL.ots
  docs/references/les-attendus-du-span.md
  documentation/Facteurs-clés de succès.md
  documentation/Identifier les éléments différenciants pour convaincre de l'importance de l'accessibilité numérique.md
  documentation/Les éléments différenciants et facteurs clés de succès.md
  documentation/Préparation d'un Budget Accessibilité.md
  documentation/Préparer un Budget d'Accessibilité pour la Mise en Œuvre du SPAN.md
  documentation/Réaliser le Bilan des Plans d'Action.md
  documentation/Réaliser le bilan des plans d'actions annuels en accessibilité numérique.md
  documentation/Réaliser le bilan des plans d'actions annuels et piloter la mise à jour du SPAN-2.md
  documentation/Réaliser le bilan des plans d'actions annuels et piloter la mise à jour du SPAN.md
  documentation/SPAN-Armony-2.md
  documentation/SPAN-Armony.md
  documentation/argumentaire.md
  documentation/checklist-span.md
  documentation/options-preview-privee.md
  documentation/span-caisse-des-dépots-yann-goupil.md
  documentation/workflow-git-branches.md
Owners: @Alexmacapple

legal: ajouter LICENSE MIT pour conformité badge README
  LICENSE
Owners: @Alexmacapple

docs(readme): retirer score sécurité de la section
  README.md
Owners: @Alexmacapple, @bertrand, @alex

docs(readme): retirer section sécurité détaillée
  README.md
Owners: @Alexmacapple, @bertrand, @alex

docs(readme): simplifier section contact
  README.md
Owners: @Alexmacapple, @bertrand, @alex

docs(claude): ajout checklist pré-modification v1.4
  Claude.md
Owners: @Alexmacapple

docs: renommer 'Modules services' → 'SPAN par service du Secrétariat Général (SG)'
  GO-CHECKLIST.md
  docs/guide-chef-snum-approvals.md
  docs/index.md
  mkdocs-dsfr.yml
  roadmap/archive/S2-07-enrichissement-modules.md
Owners: @Alexmacapple, @bertrand, @alex

docs(gouvernance): centraliser validation sur Alexandra
  CONTRIBUTING.md
  GO-CHECKLIST.md
  PRD-v3.3.md
  README.md
  docs/adr/009-migration-github-environments.md
  docs/guide-chef-snum-approvals.md
Owners: @Alexmacapple, @alex, @bertrand

docs(claude): ajouter commandes restart serveur local
  Claude.md
Owners: @Alexmacapple

refactor(nav): supprimer section Informations légales
  docs/accessibilite.md
  docs/donnees-personnelles.md
  docs/mentions-legales.md
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @bertrand, @alex

refactor(nav): supprimer section Documentation technique
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @alex

refactor(nav): supprimer entrée Code source GitHub du menu
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @alex

refactor(nav): raccourcir titre menu SPAN par service
  docs/index.md
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @bertrand, @alex

refactor(nav): déplacer Contexte réglementaire après SPAN par service
  mkdocs-dsfr.yml
Owners: @Alexmacapple, @alex

test(ci): valider configuration required reviewers production
  Claude.md
Owners: @Alexmacapple

feat(workflow): double approbation et renommage /draft/ -> /staging/
  .github/workflows/build.yml
  Claude.md
  GO-CHECKLIST.md
  docs/adr/011-double-approval-workflow.md
Owners: @Alexmacapple, @alex

docs: renommer toutes références /draft/ vers /staging/
  docs/adr/009-migration-github-environments.md
  docs/adr/011-double-approval-workflow.md
  docs/architecture/c4-diagrams.md
  docs/architecture/diagrams.md
  docs/architecture/infrastructure.md
  docs/architecture/uml-diagrams.md
  docs/assets/README.md
  docs/assets/gifs/README.md
  docs/dev/dsfr-components-guide.md
  docs/glossary.md
  docs/guide-chef-snum-approvals.md
  docs/onboarding-visual.md
  scripts/update_draft_to_staging.py
Owners: @Alexmacapple, @alex, @bertrand

fix(ci): formater update_draft_to_staging.py avec Black
  scripts/update_draft_to_staging.py
Owners: @Alexmacapple

fix(ci): retirer import os inutilisé (Ruff F401)
  scripts/update_draft_to_staging.py
Owners: @Alexmacapple

fix(ci): supprimer script one-shot update_draft_to_staging.py
  scripts/update_draft_to_staging.py
Owners: @Alexmacapple

docs(adr): documenter configuration hybride Option C
  docs/adr/011-double-approval-workflow.md
Owners: @Alexmacapple, @alex
